@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v1gbov');
  src:  url('fonts/icomoon.eot?v1gbov#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v1gbov') format('truetype'),
    url('fonts/icomoon.woff?v1gbov') format('woff'),
    url('fonts/icomoon.svg?v1gbov#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu_delfino:before {
  content: "\e943";
  color: #f44336;
}
.icon-menu_signOut .path1:before {
  content: "\e944";
  color: rgb(244, 67, 54);
}
.icon-menu_signOut .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-menu_signOut .path3:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-menu-help .path1:before {
  content: "\e957";
  color: rgb(244, 67, 54);
}
.icon-menu-help .path2:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-menu-notifications .path1:before {
  content: "\e993";
  color: rgb(244, 67, 54);
}
.icon-menu-notifications .path2:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-menu-notifications .path3:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-menu-notifications .path4:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-menu-notifications .path5:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-menu_user:before {
  content: "\e998";
  color: #f44336;
}
.icon-email-outline:before {
  content: "\f003";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-google-plus-square:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-file-pdf:before {
  content: "\f1c1";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-clap:before {
  content: "\f2a7";
}
.icon-google-plus-circle:before {
  content: "\f2b3";
}
.icon-google-plus-official:before {
  content: "\f2b3";
}
.icon-error:before {
  content: "\e900";
}
.icon-error_outline:before {
  content: "\e901";
}
.icon-warning:before {
  content: "\e902";
}
.icon-report_problem:before {
  content: "\e902";
}
.icon-av_timer:before {
  content: "\e903";
}
.icon-fast_forward:before {
  content: "\e906";
}
.icon-fast_rewind:before {
  content: "\e907";
}
.icon-high_quality:before {
  content: "\e908";
}
.icon-loop:before {
  content: "\e909";
}
.icon-mic:before {
  content: "\e90a";
}
.icon-mic_none:before {
  content: "\e90b";
}
.icon-mic_off:before {
  content: "\e90c";
}
.icon-movie:before {
  content: "\e90d";
}
.icon-library_books:before {
  content: "\e90f";
}
.icon-library_music:before {
  content: "\e910";
}
.icon-new_releases:before {
  content: "\e911";
}
.icon-not_interested:before {
  content: "\e912";
}
.icon-pause:before {
  content: "\e913";
}
.icon-pause_circle_filled:before {
  content: "\e914";
}
.icon-pause_circle_outline:before {
  content: "\e915";
}
.icon-play_arrow:before {
  content: "\e916";
}
.icon-play_circle_filled:before {
  content: "\e917";
}
.icon-play_circle_outline:before {
  content: "\e918";
}
.icon-playlist_add:before {
  content: "\e919";
}
.icon-queue_music:before {
  content: "\e91a";
}
.icon-repeat:before {
  content: "\e91c";
}
.icon-repeat_one:before {
  content: "\e91d";
}
.icon-replay:before {
  content: "\e91e";
}
.icon-shuffle:before {
  content: "\e91f";
}
.icon-skip_next:before {
  content: "\e920";
}
.icon-skip_previous:before {
  content: "\e921";
}
.icon-stop:before {
  content: "\e922";
}
.icon-videocam:before {
  content: "\e923";
}
.icon-videocam_off:before {
  content: "\e924";
}
.icon-volume_off:before {
  content: "\e925";
}
.icon-volume_up:before {
  content: "\e926";
}
.icon-hd:before {
  content: "\e927";
}
.icon-video_call:before {
  content: "\e928";
}
.icon-4k:before {
  content: "\e929";
}
.icon-call:before {
  content: "\e92a";
}
.icon-email:before {
  content: "\e92c";
}
.icon-forum:before {
  content: "\e92d";
}
.icon-live_help:before {
  content: "\e92e";
}
.icon-location:before {
  content: "\e92f";
}
.icon-message:before {
  content: "\e930";
}
.icon-chat_bubble:before {
  content: "\e931";
}
.icon-chat_bubble_outline:before {
  content: "\e932";
}
.icon-phone:before {
  content: "\e933";
}
.icon-sms:before {
  content: "\e934";
}
.icon-mail_outline:before {
  content: "\e935";
}
.icon-alternate_email:before {
  content: "\e936";
}
.icon-lightbulb:before {
  content: "\e937";
}
.icon-add:before {
  content: "\e938";
}
.icon-add_box:before {
  content: "\e939";
}
.icon-add_circle:before {
  content: "\e93a";
}
.icon-add_circle_outline:before {
  content: "\e93b";
}
.icon-control_point:before {
  content: "\e93b";
}
.icon-archive:before {
  content: "\e93c";
}
.icon-block:before {
  content: "\e93e";
}
.icon-clear:before {
  content: "\e93f";
}
.icon-close:before {
  content: "\e93f";
}
.icon-content_copy:before {
  content: "\e940";
}
.icon-create:before {
  content: "\e941";
}
.icon-edit:before {
  content: "\e941";
}
.icon-remove_circle:before {
  content: "\e945";
}
.icon-do_not_disturb_on:before {
  content: "\e945";
}
.icon-remove_circle_outline:before {
  content: "\e946";
}
.icon-fail:before {
  content: "\e947";
}
.icon-file_copy:before {
  content: "\e948";
}
.icon-access_time:before {
  content: "\e94b";
}
.icon-query_builder:before {
  content: "\e94b";
}
.icon-schedule:before {
  content: "\e94b";
}
.icon-gps_fixed:before {
  content: "\e94c";
}
.icon-my_location:before {
  content: "\e94c";
}
.icon-gps_not_fixed:before {
  content: "\e94d";
}
.icon-location_searching:before {
  content: "\e94d";
}
.icon-screen_lock_rotation:before {
  content: "\e94e";
}
.icon-cloud_done:before {
  content: "\e94f";
}
.icon-cloud_download:before {
  content: "\e950";
}
.icon-file_download:before {
  content: "\e951";
}
.icon-get_app:before {
  content: "\e951";
}
.icon-file_upload:before {
  content: "\e952";
}
.icon-keyboard_arrow_down:before {
  content: "\e953";
}
.icon-keyboard_arrow_left:before {
  content: "\e954";
}
.icon-keyboard_arrow_right:before {
  content: "\e955";
}
.icon-keyboard_arrow_up:before {
  content: "\e956";
}
.icon-keyboard_voice:before {
  content: "\e958";
}
.icon-audiotrack:before {
  content: "\e959";
}
.icon-photo_camera:before {
  content: "\e95a";
}
.icon-radio_button_unchecked:before {
  content: "\e904";
}
.icon-eye:before {
  content: "\e95b";
}
.icon-tune:before {
  content: "\e95c";
}
.icon-local_grocery_store:before {
  content: "\e95d";
}
.icon-shopping_cart:before {
  content: "\e95d";
}
.icon-arrow_back:before {
  content: "\e95e";
}
.icon-arrow_forward:before {
  content: "\e95f";
}
.icon-check:before {
  content: "\e960";
}
.icon-fullscreen:before {
  content: "\e961";
}
.icon-fullscreen_exit:before {
  content: "\e962";
}
.icon-keyboard_control:before {
  content: "\e963";
}
.icon-more_vert:before {
  content: "\e964";
}
.icon-priority_high:before {
  content: "\e965";
}
.icon-wifi_off:before {
  content: "\e90e";
}
.icon-notifications:before {
  content: "\e966";
}
.icon-notifications_none:before {
  content: "\e967";
}
.icon-notifications_off:before {
  content: "\e968";
}
.icon-notifications_active:before {
  content: "\e969";
}
.icon-person:before {
  content: "\e96a";
}
.icon-person_outline:before {
  content: "\e96b";
}
.icon-public:before {
  content: "\e96c";
}
.icon-share:before {
  content: "\e96d";
}
.icon-sentiment_very_dissatisfied:before {
  content: "\e91b";
}
.icon-thumb_down_alt:before {
  content: "\e96e";
}
.icon-thumb_up_alt:before {
  content: "\e96f";
}
.icon-check_box:before {
  content: "\e970";
}
.icon-check_box_outline_blank:before {
  content: "\e971";
}
.icon-radio_button_checked:before {
  content: "\e905";
}
.icon-star:before {
  content: "\e972";
}
.icon-grade:before {
  content: "\e972";
}
.icon-star_outline:before {
  content: "\e973";
}
.icon-account_circle:before {
  content: "\e974";
}
.icon-bookmark:before {
  content: "\e975";
}
.icon-turned_in:before {
  content: "\e975";
}
.icon-bookmark_outline:before {
  content: "\e976";
}
.icon-turned_in_not:before {
  content: "\e976";
}
.icon-delete:before {
  content: "\e977";
}
.icon-done_all:before {
  content: "\e978";
}
.icon-explore:before {
  content: "\e979";
}
.icon-favorite:before {
  content: "\e97a";
}
.icon-favorite_outline:before {
  content: "\e97b";
}
.icon-help:before {
  content: "\e97c";
}
.icon-home:before {
  content: "\e97d";
}
.icon-language:before {
  content: "\e97e";
}
.icon-lock_open:before {
  content: "\e97f";
}
.icon-lock_outline:before {
  content: "\e980";
}
.icon-loyalty:before {
  content: "\e981";
}
.icon-search:before {
  content: "\e982";
}
.icon-settings:before {
  content: "\e983";
}
.icon-thumbs_up_down:before {
  content: "\e984";
}
.icon-visibility_off:before {
  content: "\e985";
}
.icon-help_outline:before {
  content: "\e986";
}
.icon-menu:before {
  content: "\e987";
}
.icon-delete_outline:before {
  content: "\e988";
}
.icon-contact_support:before {
  content: "\e989";
}
.icon-bookmarks:before {
  content: "\e92b";
}
.icon-circle_notifications:before {
  content: "\e98a";
}
.icon-replay_circle_filled:before {
  content: "\e98b";
}
.icon-toggle_off:before {
  content: "\e98c";
}
.icon-toggle_on:before {
  content: "\e98d";
}
.icon-view_in_ar:before {
  content: "\e93d";
}
.icon-people_alt:before {
  content: "\e942";
}
.icon-emoji_events:before {
  content: "\e98e";
}
.icon-volunteer_activism:before {
  content: "\e98f";
}
.icon-business_center:before {
  content: "\e990";
}
.icon-meeting_room:before {
  content: "\e991";
}
