/*{{ createdBy }}*/
import { connect } from 'appRedux/actions';
import { languageSelector, createStructuredSelector } from 'appRedux/selectors';
import {{ properCase name }}UI from './{{camelCase name}}.ui';
import lang from './{{camelCase name}}.lang';

const mta = {} // mapToActions

export default connect(createStructuredSelector({
	Language: languageSelector(lang)
}), mta)({{ properCase name }}UI);
