/*{{ createdBy }}*/
import React from 'react';
import PropTypes from 'prop-types';
import { Page, Paragraph } from 'appComponents';
// import Style from './{{ camelCase name }}.style';

const {{ properCase name }}UI = (props) => {
	const { navigation } = props;
	return (
		<Page devName="{{ properCase name }}UI">
			<Paragraph>{{ properCase name }}UI</Paragraph>
		</Page>
	);
};

{{ properCase name }}UI.propTypes = {	navigation: PropTypes.object.isRequired };

{{ properCase name }}UI.defaultProps = {};

export default {{ properCase name }}UI;
