/*{{ createdBy }}*/
import { {{ constantCase name }}_SET } from 'appRedux/types/{{ camelCase name }}';

const DF_STATE = {};

export default (state = DF_STATE, { type, payload }) => {
	switch (type) {
		case {{ constantCase name }}_SET: return ({ ...state, payload });
		default: return state;
	}
};
