/*{{ createdBy }}*/
import React from 'react';
import PropTypes from 'prop-types';
import { Page, Paragraph } from 'appComponents';
//import Style from './{{ name }}.style';

const {{ properCase name }}UI = (props) => {
	const { navigation, Language } = props;
	return (
		<Page devName="{{ properCase name }}UI" header={Page.header.backTitle(Language.title)}>
			<Paragraph>{{ properCase name }}UI</Paragraph>
		</Page>
	);
};

{{ properCase name }}UI.propTypes = {
	Language: PropTypes.object.isRequired,
	navigation: PropTypes.object.isRequired
};

{{ properCase name }}UI.defaultProps = {};

export default {{ properCase name }}UI;
